.f32 .flag {
        vertical-align: middle;
        margin: -8px 0;
    }
 
    progress {
        width: 100%;
    }

.truncate {
  max-width: 150px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dateCol {
    min-width: 50px;   
}

@media screen and (min-width: 1000px) {
    .truncate {
      max-width: 300px;
    }    
}

@media screen and (min-width: 1200px) {
    .truncate {
      max-width: 400px;
    }    
}
